.body_modal{
    padding-top: 30px;
 }

.modal_body_info{
    display: flex;
    justify-content: space-between;
}
.modal_body_info p {
    padding: 15px 0;
    font-size: 20px;
}
.modal_body_info_img img{
    max-width: 400px;
}
.modal_body_info_text{
    margin-left: 20px;
}

.title{
    font-size: 30px;
    font-weight: 500;
    line-height: 1.2;
}
.nameCategories{
    text-align: right;
}

.price{
    margin-top: 20px;
    font-size: 40px;
}
.block_buy{
    margin-top: 50px;
    background-color: rgb(226, 223, 223);
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}
.modalBody_description{

}


.modalBody_description_table{
	border: 1px solid #eee;
	table-layout: fixed;
	width: 100%;
	margin-bottom: 20px;
    border-collapse: collapse;
}
.modalBody_description_table th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
}
.modalBody_description_table td{
	padding: 5px 10px;
	border: 1px solid #eee;
	text-align: left;
}
.modalBody_description_table tbody tr:nth-child(odd){
	background: #fff;
}
.modalBody_description_table tbody tr:nth-child(even){
	background: #F7F7F7;
}